* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f5f8;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#color-code {
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f75;
}

.mode {
    margin-top: 20px;
}

label {
    margin-right: 10px;
    font-size: 1.2rem;
}

input[type="radio"] {
    margin-right: 5px;
}
